[submodule "third_party/ObserveJS"]
	path = third_party/ObserveJS
	url = https://github.com/Polymer/ObserveJS.git
	branch = stable
[submodule "third_party/mocha"]
	path = third_party/mocha
	url = https://github.com/visionmedia/mocha.git
[submodule "third_party/chai"]
	path = third_party/chai
	url = https://github.com/chaijs/chai.git
[submodule "tools"]
	path = tools
	url = https://github.com/Polymer/tools.git
